<div class="row">
  <div class="col standalone">
    <img src="../../assets/kuvat/levyhalli.jpeg" alt="">
    <img src="../../assets/kuvat/tapahtuma2.JPG" alt="">
  </div>
  <div class="col">
    <h1>LAUANTAI 13.5.</h1>
    <h3>LEVYHALLI:</h3>
    <ul>
      <li>13.00-14.00
        <h5>STORIES OF TOYS</h5>
        <p>LELUHUUTOKAUPPA, Levyhalli. Käteismaksu</p>
      </li>
      <li>15.30-
        <h5>LINNOITUKSEN LAULAJAT</h5>
        <p>JÄÄHYVÄIVKONSERTTI, Levyhalli </p>
        <h5>ÄÄNIOIKEUS -kuoro</h5>
        <p>Levyhalli</p>
      </li>
      <li>18.00-24.00
        <h5>ILTAFESTIVAALI LEVYHALLISSA</h5>
        <p>Useiden panimoiden ja bändien juhlaa.   Musaa, juomaa ja ruokaa! Kattauksessa mm. Osteri, Lähihoitajat,  Testicles, Liskomies, Freddie & The Seacruisers, Full Moon Rockers  <br>HANAT AUKEAVAT 16.00 </p>
      </li>
    </ul>
  </div>
  <div class="col">

  </div>
</div>
