@media screen and (max-width: 500px) {
  img {
    width:100%;
    height:200px;
  }
}
.container {
  max-height:50px;
}
i {
  margin-top:10px;
  margin-left:20px;
}
.fa-instagram {
  color:black;
}
.fa-facebook-official {
  color:#3b5998;
}
.nav-item > a {
  font-size:15px;
}
