<!--<div class="text-center">
  <img src="../../assets/vv-vaaka-logo.png" alt="">
</div>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['']">Väkevä Viapori</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['yhteystiedot']">Yhteystiedot</a>
      </li>
    </ul>
  </div>
</nav>-->
<div class="text-center">
  <img src="../../assets/vv-vaaka-logo.png" alt="">
</div>
<nav class="navbar navbar-toggleable-xl navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">Väkevä Viapori</a>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="../../assets/ohjelma2017.pdf" target="_blank">Esite ja kartta tapahtumasta</a>
          </li>
        </ul>

        <p class="ml-auto">
          <a href="https://www.facebook.com/events/286640121747925/" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/vakevaviapori/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </p>
        <!--<div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['yhteystiedot']">Yhteystiedot</a>
                </li>
            </ul>
        </div>-->
    </div>
</nav>
