#footer {
  display: inline-block;
  background-color: #f5f5f5;
  height: 50px;
  margin-top:90px;
  width:100%;
}
p, a {
  line-height: 40px;
  vertical-align: middle;
}
.hsl::before {
  content: "hsl lautta aikataulut (Kauppatori-Suomenlinna)";
}
.tausta {
  background-color: #f5f5f5;
}

@media screen and (max-width: 500px) {
  .tausta {
    background-color: #f5f5f5;
    display: inline-block;
  }
  .col-12 {
    border-top: solid black 1px;
  }
}
