<div class="navbar tausta">
  <div class="row fixed-bottom tausta">
    <div class="col-12 col-md-4 tausta">
      <p>Yhteystiedot: vakeva.viapori@viapori.fi</p>
    </div>
    <div class="col-12 col-md-4 tausta">
      <a href="https://aikataulut.reittiopas.fi/linjat/fi/hLautta_Kauppatori.html" target="_blank">HSL lautta aikataulut (Kauppatori-Suomenlinna)</a>
    </div>
    <div class="col-12 col-md-4 tausta">
      <a href="http://www.jt-line.fi/suomenlinna-vallisaari-lonna/aikataulu-kauppatori-suomenlinna" target="_blank" class="jt-line">JT-Line lautta aikataulut (Kauppatori-Suomenlinna)</a>
    </div>
    <!--<div class="row">
      <div class="col sponsorit tausta">
        Yhteistyössä:
        <img src="../../assets/kulke_logo_RGB_fi.png" alt="">
        <img src="../../assets/logo-suomenlinna.svg" alt="">
      </div>
    </div>-->
  </div>
</div>
