<div class="row">
  <div class="col">

  </div>
  <div class="col">
    <h1>MUSEOT:</h1>
    <ul>
      <li>avoinna la-su 11-18
        <h5>SOTAMUSEO</h5>
        <p>näyttelyopastus suomeksi klo 14</p>
      </li>
      <li>avoinna la-su 11-18
        <h5>SUKELLUSVENE VESIKKO</h5>
        <p></p>
      </li>
      <li>avoinna la-su 10-16
        <h5>EHRENSVÄRD MUSEO</h5>
        <p>näyttely ja epookkiesitykset la klo 13 ja 14</p>
      </li>
      <li>avoinna  la-su 10.30-18
        <h5>SUOMENLINNAMUSEO</h5>
        <p>Valonsaaret näyttely   ja lyhyt elokuva yhdeksällä kielellä</p>
      </li>
      <li>avoinna  la-su 11-17
        <h5>LELUMUSEO ja Cafe Samovarbar</h5>
      </li>
    </ul>
  </div>
  <div class="col">

  </div>
</div>
