<div class="row">
  <div class="col standalone">
    <img src="../../assets/kuvat/2.jpg" alt="">
    <img src="../../assets/kuvat/tapahtuma.JPG" alt="">
  </div>
  <div class="col">
    <h1>MUSEOT:</h1>
    <ul>
      <li>avoinna la-su 11-18
        <h5>SOTAMUSEO</h5>
        <p>näyttelyopastus suomeksi klo 14</p>
      </li>
      <li>avoinna la-su 11-18
        <h5>SUKELLUSVENE VESIKKO</h5>
        <p></p>
      </li>
      <li>avoinna la-su 10-16
        <h5>EHRENSVÄRD MUSEO</h5>
        <p>näyttely ja epookkiesitykset la klo 13 ja 14</p>
      </li>
      <li>avoinna  la-su 10.30-18
        <h5>SUOMENLINNAMUSEO</h5>
        <p>Valonsaaret näyttely   ja lyhyt elokuva yhdeksällä kielellä</p>
      </li>
      <li>avoinna  la-su 11-17
        <h5>LELUMUSEO ja Cafe Samovarbar</h5>
      </li>
    </ul>
  </div>
  <div class="col">
    <div id="carousel2" class="carousel slide mar" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="../../assets/kuvat/lelu.jpg" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
