<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>SUOMENLINNA ART WALK : Näyttelyt ja avoimet työhuoneet LAUANTAI 13.5.</th>
        <th>Paikka</th>
        <th>Aika</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>"VAPAUS, VELJEYS,MAALAUS"
Maalauksia Matti Sääski ja Janne Kaitala. Taiteilijat paikalla.
Bluesartisti Mr. Natural (laulu ja sähkökitara) klo 14.00</p>
        </td>
        <td>Galleria Rantakasarmi</td>
        <td>11.30-16.00</td>
      </tr>
      <tr>
        <td>"KUVALEVYJÄ" Markku Tantun näyttely</td>
        <td>Jääkellari</td>
        <td>12.00 -</td>
      </tr>
      <tr>
        <td>TAIDEKOULUMAAN KEVÄTNÄYTTELY, HIAP</td>
        <td>Galleria Augusta</td>
        <td>12.00 -</td>
      </tr>
      <tr>
        <td>KOULULAISTEN NÄYTTELY</td>
        <td>Koulu</td>
        <td>12.00 -</td>
      </tr>
    <tr>
        <td>WRKSHP T-PAITAPAJA</td>
        <td>Bastion Hårleman</td>
        <td>12.00 - 16.00</td>
    </tr>
    <tr>
        <td>LASISTUDIO HYTTI ry. Näe lasimestari työssään</td>
        <td></td>
        <td>12.00 - 16.00</td>
    </tr>
    <tr>
        <td>TYÖHUONE NEVALAINEN. Uskomatonta taidetta "romusta ja roinasta"</td>
        <td>Yllätysten paja!</td>
        <td>12.00 - 16.00</td>
    </tr>
    <tr>
        <td>TAIDEKÄSITYÖLÄISTEN KESÄKAUPPA</td>
        <td></td>
        <td>11.00 - 17.30</td>
    </tr>
    </tbody>
  </table>
</div>
