/*p {
  white-space: pre-line;
}*/
.vihrea {
  color: rgb(139, 188, 111);
}
.sininen {
  color: rgb(35, 166, 195);
}

.cursor {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: gray;
}