/*p {
  white-space: pre-line;
}*/
.vihrea {
  color: rgb(139, 188, 111);
}
.sininen {
  color: rgb(35, 166, 195);
}

.cursor {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: gray;
}

.otsikko::first-letter {
  text-transform: uppercase;
}
img {
  width:80px;
  height:70px;
}

.otsikkomargin {
  margin-top:12%;
}

@media screen and (max-width: 500px) {
  .otsikkomargin {
    margin-top:0%;
  }
}
