<div class="row">
  <div class="col-3">
    <app-image></app-image>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col">
        <h2 class="vihrea">VÄKEVÄ</h2>
        <h2 class="sininen">VIAPORI</h2>
        <!--<h2>
        VÄKEVÄ VIAPORI -KEVÄTKARNEVAALI  SUOMENLINNASSA 13.5.-14.5.
      </h2>-->
        <p>Talviunesta herännyt Suokki taiteilee, rokkaa ja kokkaa!</p>
        <p>
          Tapahtumia laidasta laitaan: näyttelyitä, avoimia työhuoneita ja studioita, elokuvaa, Sokkoteatteria, stand-up klubia, erilaisia konsertteja, musiikkia muureissa ja terasseilla. Sauna Picnic, Markkinatori hattaroineen ja ongintakojuineen, Leluhuutokauppa, Ohjelmallinen Wiinitupa,
          Iltafestivaalit Lentokonehallissa monine esiintyjineen ja paljon muuta myös lapsille…Kaikki ravintolat ja kahvilat avoinna: mahtavaa ruokaa ja juomaa tuvat täynnä!
        </p>
        <p>Laittakaahan jo merkintä allakkaan: Muureilla tavataan!</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="sininen cursor" [routerLink]="['artwalk']">Art Walk</h4>
        <p>Joku pikkuteksti, kuva?</p>
      </div>
      <div class="col">
        <h4 class="vihrea">Lapsille</h4>
        <p>Joku pikkuteksti, kuva?</p>
      </div>
      <div class="col">
        <h4 class="sininen">Esiintyjät</h4>
        <p>Joku pikkuteksti, kuva?</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="vihrea">Museot</h4>
        <p>Joku pikkuteksti, kuva?</p>
      </div>
      <div class="col">
        <h4 class="sininen">Tapahtumat</h4>
        <p>Joku pikkuteksti, kuva?</p>
      </div>
      <div class="col">
        <h4 class="vihrea">Opastetut kierrokset</h4>
        <p>Joku pikkuteksti, kuva?</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <app-image></app-image>
  </div>
</div>
