<div class="row">
  <div class="col-3">
    <app-image></app-image>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col">
        <!--<h2 class="vihrea">VÄKEVÄ</h2>
        <h2 class="sininen">VIAPORI</h2>-->
        <h2>
        VÄKEVÄ VIAPORI -KEVÄTKARNEVAALI  SUOMENLINNASSA 13.5.-14.5.
      </h2>
        <p>Talviunesta herännyt Suokki taiteilee, rokkaa ja kokkaa!</p>
        <p>
          Tapahtumia laidasta laitaan: näyttelyitä, avoimia työhuoneita ja studioita, elokuvaa, Sokkoteatteria, stand-up klubia, erilaisia konsertteja, musiikkia muureissa ja terasseilla. Sauna Picnic, Markkinatori hattaroineen ja ongintakojuineen, Leluhuutokauppa, Ohjelmallinen Wiinitupa,
          Iltafestivaalit Lentokonehallissa monine esiintyjineen ja paljon muuta myös lapsille…Kaikki ravintolat ja kahvilat avoinna: mahtavaa ruokaa ja juomaa tuvat täynnä!
        </p>
        <p>Laittakaahan jo merkintä allakkaan: Muureilla tavataan!</p>

        <h5>Ohjelma tarkentuu ja täydentyy ensi viikon aikana. Ohjelmaan saattaa tulla muutoksia.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="sininen cursor" [routerLink]="['artwalk']">Art Walk</h4>
        <p>Art Walk kohteita.</p>
      </div>
      <div class="col">
        <h4 class="vihrea disabled">Lapsille</h4>
        <p>Aukeaa myöhemmin.</p>
      </div>
      <div class="col">
        <h4 class="sininen disabled">Esiintyjät</h4>
        <p>Aukeaa myöhemmin.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="vihrea disabled">Museot</h4>
        <p>Aukeaa myöhemmin.</p>
      </div>
      <div class="col">
        <h4 class="sininen cursor" [routerLink]="['tapahtumat']">Tapahtumat</h4>
        <p>Tapahtumia lauantaina ja sunnuntaina.</p>
      </div>
      <div class="col">
        <h4 class="vihrea disabled">Opastetut kierrokset</h4>
        <p>Aukeaa myöhemmin.</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <app-image></app-image>
  </div>
</div>
