<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Tapahtumat</h1>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Suomenlinna art walk</th>
        <th>Paikka</th>
        <th>Aika</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Galleria rantakasarmi</td>
        <td>"Vapaus, Veljeys, Maalaus"</td>
        <td>11.30 - 16.00</td>
      </tr>
      <tr>
        <td></td>
        <td>Janne Kaitala, Matti Sääski</td>
        <td></td>
      </tr>
      <tr>
        <td>Markku Tantun näyttely</td>
        <td>"Kuvalevyjä", Jääkellari</td>
        <td>12 - </td>
      </tr>
      <tr>
        <td>Taidekoulumaan näyttely</td>
        <td>HIAP, Galleria Augusta</td>
        <td>?</td>
      </tr>
      <tr>
        <th>Avoimet työhuoneet:</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Pot viapori</td>
        <td>Mukin maalausta?</td>
        <td>12 - 16 ?</td>
      </tr>
      <tr>
        <td>Lasistudio hytti ry</td>
        <td>Lasinpuhallusta</td>
        <td></td>
      </tr>
      <tr>
        <td>Työhuone Nevalainen</td>
        <td>Työhuone esittely</td>
        <td>12 - 16</td>
      </tr>
      <tr>
        <td>Taidekäsityöläisten kesäkauppa</td>
        <td>Avoinna, arvonta, musaa?</td>
        <td>11 - 17.30</td>
      </tr>
      <tr>
        <td>Koululaisten näyttely</td>
        <td>Koululla</td>
        <td>?</td>
      </tr>
    </tbody>
  </table>
</div>
