<div class="container">
  <div class="row">
    <div class="col">
      <h1>Tapahtumat</h1>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>TAPAHTUMIA
        LAUANTAI 13.5. </th>
        <th>Paikka</th>
        <th>Aika</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>KEVÄINEN ASKARTELUPAJA lapsille ja aikuisille</td>
        <td>Krypta</td>
        <td>10.00 - 12.00</td>
      </tr>
    <tr>
      <td>VANHOJEN SUOKKILAISTEN HARTAUS, kaikille avoin.</td>
      <td>Kirkko</td>
      <td>12.00 -</td>
    </tr>
    <tr>
      <td>MUSKETTIÄKSIISI - WANHA WARUSWÄKI ampuu tapahtuman avajaislaukaukset</td>
      <td></td>
      <td>11.45 - </td>
    </tr>
    <tr>
      <td>MARKKINATORI - Musiikkia, myyntikojuja, grillipiste, streetfoodia. Hattaroita, ongintakoju, jne. markkinameinikiä.</td>
      <td>Lentokonehallin ympäristö -sateella sisällä.</td>
      <td>12.00 - 15.30</td>
    </tr>
    <tr>
      <td>PONIRATSASTUSTA</td>
      <td>Tykistölahti</td>
      <td>12.00 -</td>
    </tr>
    <tr>
      <td>GRAFFITIMAALAUSTA - Näe graffititaiteilijat työssään</td>
      <td>Telakka-alue</td>
      <td>12.00</td>
    </tr>
    <tr>
      <td>LUKUTOUKAN TYÖPAJA - Omatoimiset askartelu- ja kirjasuunnistuspisteet.</td>
      <td> </td>
      <td>12.00 - 15.00</td>
    </tr>
    <tr>
      <td>PANIMO OPEN HOUSE: tutustu Suomenlinnan Panimoon. Kierrokset klo 12, 15, 16, 17 ja 18. Ilmoittautuminen paikanpäällä. Tastingin jälkeen 4 oluen setti 10&#8364;/hlö.</td>
      <td>Ravintola Panimo</td>
      <td>12.00 - </td>
    </tr>
    <tr>
      <td>SUOMENLINNAN SALAT - Suomenlinnan historia aistiteatteriesityksenä. Katsojat ovat esityksessä silmät peitettynä ja tarina koetaan kuulo-, tunto- ja hajuaistin keinoin.
      Kesto 20 min. Ikäsuositus 6-vuotta. Liput 10/8 euroa. Teatteri Tuike</td>
      <td>Paarlasti</td>
      <td>13.00 ja 13.30</td>
    </tr>
    <tr>
      <td>SAUNAPICNIC - Telttasauna mattolaiturilla: musiikkia, makkaraa, kahvia, jne.</td>
    <td>Mattolaituri</td>
      <td>13.00 - 18.00</td>
    </tr>
    <tr>
      <td>MUSIIKKIA MUUREISSA - Suomenlinnan Improvisationalistinen Seura</td>
      <td></td>
      <td>13.00 - </td>
    </tr>
    <tr>
      <td>KIERTÄVÄ MUUSIKKO</td>
      <td>Lautassa ja raitilla</td>
      <td>13.00 - </td>
    </tr>
    <tr>
      <td>STORIES OF TOYS - LELUHUUTOKAUPPA</td>
      <td>Lentokonehalli</td>
      <td>13.30 - 14.30</td>
    </tr>
    <tr>
      <td>OPASTETTU KÄVELYKIERROS englanniksi
      GUIDED WALKING TOUR in english</td>
      <td>Lähtö Suomenlinnakeskuksesta. Starting from Suomenlinna Centrum</td>
      <td>13.30 - 15.00</td>
    </tr>
    <tr>
      <td>HEVY LOVESONGS - Hannu Leiden, laulu ja Mika Mylläri, trumpetti.</td>
      <td>Viinitupa</td>
      <td>14.30 - </td>
    </tr>
    <tr>
      <td>KUOROKONSERTIT - Linnoituksen Laulajat ja Äänioikeus-kuorot</td>
      <td>Lentokonehalli</td>
      <td>15.30 - </td>
    </tr>
    <tr>
      <td>STAND UP-KOMEDIAKLUBI - useita ammattikoomikoita, mm. Naurun Tasapainosta tuttuja</td>
      <td>Viinitupa</td>
      <td>17.00 - </td>
    </tr>
    <tr>
      <td>DISCO KOULULAISILLE</td>
      <td>Krypta</td>
      <td>18.00 - 20.00</td>
    </tr>
    <tr>
      <td>ILTAFESTIVAALI LENTOKONEHALLISSA - useita panimoita ja esiintyjiä. Musiikkia, juomaa ja ruokaa.</td>
      <td>Lentokonehalli</td>
      <td>18.30 - 24.00</td>
    </tr>
    <tr>
      <td> SAARA MARKKANEN - laulu ja kitara</td>
      <td>Jääkellari</td>
      <td>19.00 - </td>
    </tr>
    <tr>
      <td>AAKKOS JATSIA  - Jatsia A - Z, Sofia Perhomaa, laulu ja Markus Filppula, piano, esittävät jazz-standardin aakkosten jokaista kirjainta kohden.</td>
      <td></td>
      <td></td>
      </tr>
      <tr>
    <td>MINTTU ANNILOTTA - "Jos kuu paistaa huomennakin" - runonluenta.</td>
    <td></td>
    <td></td>
      </tr>
    <tr>
      <td>LYHYTELOKUVAT</td>
      <td>Paarlasti</td>
      <td></td>
    </tr>

    <tr>
      <th>SUNNUNTAI 14.5.</th>
      <th>Paikka</th>
      <th>Aika</th>
    </tr>
    <tr>
      <td>"SUOMENLINNA VALON SAARTE" -näyttely ja nonstop - multimediaestitys</td>
      <td> Suomenlinna museo</td>
      <td> 10.00 -18.00</td>
    </tr>
    <tr>
      <td>"VAPAUS, VELJEYS JA MAALAUS" -näyttely, Juha Sääski ja Janne Kaitala</td>
      <td>Galleria Rantakasarmi</td>
      <td>11.00 - 16.30</td>
    </tr>
    <tr>
      <td>TAIDEKOULUMAAN KEVÄTNÄYTTELY, HIAP</td>
      <td>Galleria Augusta</td>
      <td></td>
    </tr>
    <tr>
      <td>TYÖHUONE NEVALAINEN "Taidetta romusta ja rihkamasta". Taiteilija paikalla.</td>
      <td>Työhuone Nevalainen</td>
      <td>12.00 - 16.00</td>
    </tr>
    <tr>
      <td>JAPANILAINEN TEEHUONE: TANGO O SEKKU - Poikienpäivän teetilaisuus</td>
      <td>Japanilainen teehuone</td>
      <td>12.00 - 15.00</td>
    </tr>
    <tr>
      <td>LEIJAT LINNOITUKSEN YLLÄ - Mahtava leijanlennätysnäytös upeine  leijoineen!</td>
      <td></td>
      <td>13.00 - </td>
    </tr>
    <tr>
      <td>OPASTETTU KIERROS englanniksi. GUIDED TOUR in english. Kesto 1 - 1,5h. Duration 1-1,5h</td>
      <td>Lähtö Suomenlinnakeskus. Starting from the Suomenlinna Centrum</td>
      <td>13.30 - </td>
    </tr>
    <tr>
      <td>KAVARISTEILY; JT-Line. Risteilyn hintaan sisältyy kakkukahvit, lapsille kakkua ja pillimehu, 20&#8364;, lapset 0 - 3v 1&#8364;, 4 - 12v 8&#8364;.</td>
      <td>Lähtö Tykistölahdesta</td>
      <td>14.00 -16.00</td>
    </tr>
    <tr>
      <td>RAAMATUNNAISET - raamattupiiri, tarjolla äitienpäiväkahvit</td>
      <td>Krypta</td>
      <td>14.00 - </td>
    </tr>
    <tr>
      <td>ÄITIENPÄIVÄLOUNAAT</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <h4>Ohjelma tarkentuu ja täydentyy ensi viikon aikana. Ohjelmaan saattaa tulla muutoksia</h4>
</div>

